<!DOCTYPE html>
<html>
<head>
  <title>Checker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br/>
<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li><%= link_to 'Stron główna', root_path, :class=>"nav" %></li>
			<li><%= link_to 'O projekcie', '#' , :class=>"nav" %> </li>
			<li><%= link_to 'Kontakt', '#', :class=>"nav" %></li>
		</ul>
	<br/>
	<br/>
	</div>
	<%= yield %>
	<div class="footer navbar navbar-fixed-bottom">
	</div>
</div>
</body>
</html>
